.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.about > img {
  width: 16rem;
  height: 16rem;
  border: 4px dashed var(--color-highlight);
  border-radius: 128px;
  margin-top: 16px;
}

.about-links {
  width: 72%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.about-links > .link > a > img {
  width: 40px;
  height: 40px;
}

.about-text {
  width: 72%;
  text-align: justify;
  overflow-y: auto;
  max-height: 500px;
  padding-right: 8px;
}

.about-text > h2 {
  margin: 16px 0;
  padding: 8px;
  border: 1px solid var(--color-highlight);
}

.about-text > h3 {
  margin: 16px 0;
  padding: 8px;
  border: 1px solid var(--color-highlight);
}

@media (max-width: 768px) {
  .about-text {
    width: 24rem;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 8px;
    margin-top: 32px;
  }
}

@media (max-width: 480px) {
  .about-text {
    width: 80%;
  }
}
