.timeline-section {
    width: 100%;
}

.timeline {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.timeline-item {
    align-items: start;
}

.exp-title, .exp-description {
    width: 100%;
    max-width: 500px;
}

.exp-description {
    padding: 0 8px 16px 0px;
    margin-bottom: 16px;
    color: var(--color-text-primary);
}

.exp-title {
    color: var(--color-highlight);
}

.exp-year {
    width: 40px;
    text-align: right;
    font-weight: bold;
}

@media (max-width: 768px) {
    
    .timeline {
        display: flex;
        flex-direction: column; 
        overflow-y: auto;
        
        padding-right: 8px;
        padding-top: 8px; 
    }
}

@media (max-width: 468px) {
    .timeline {
        display: flex;
        flex-direction: column; 
        overflow-y: auto;
        max-height: 400px;
        padding-right: 8px;
        padding-top: 8px; 
    }
}

@media (max-width: 320px) {
    .timeline {
        display: flex;
        flex-direction: column; 
        overflow-y: auto;
        max-height: 320px;
        padding-right: 8px;
        padding-top: 8px; 
    }
}