.timeline-section {
    width: 100%;
  }
  
  .timeline {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 100dvh; /* hauteur dynamique, fiable sur mobile */
    padding: 8px 8px 2rem 0; /* padding bottom pour éviter les barres système */
    display: flex;
    flex-direction: column;
  }
  
  .timeline-item {
    align-items: flex-start;
  }
  
  .exp-title,
  .exp-description {
    width: 100%;
    max-width: 500px;
  }
  
  .exp-description {
    padding: 0 8px 16px 0px;
    margin-bottom: 16px;
    color: var(--color-text-primary);
  }
  
  .exp-title {
    color: var(--color-highlight);
  }
  
  .exp-year {
    width: 40px;
    text-align: right;
    font-weight: bold;
  }
  
  /* OPTIONNEL : si tu veux limiter un peu plus la hauteur sur très petits écrans */
  
  @media (max-width: 468px) {
    .timeline {
      max-height: 90dvh;
    }
  }
  