.nav-list {
  display: flex;
  list-style: none;
  color: var(--color-accent-secondary);
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  transition: transform 0.3s ease-in-out;
}

.home {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
}

.nav-list > li {
  margin-left: 32px;
}

.nav-list li > a {
  text-decoration: none;
  color: var(--color-accent-secondary);
  white-space: nowrap;
}

.nav-list li > a.active {
  color: var(--color-highlight);
}

/* Menu Hamburger */
@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-background);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
  }

  .nav-list.active {
    display: flex;
    text-align: center;
  }

  .nav-list > li {
    margin-left: 0;
    margin-bottom: 16px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--color-accent-secondary);
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  /* Animation pour l'icône hamburger */
  .hamburger.open div:nth-child(1) {
    transform: rotate(45deg);
    margin-top: 8px;
  }

  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open div:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -8px;
  }

  /* Croissant pour fermer le menu */
  .close-menu {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
  }

  .close-menu div {
    width: 30px;
    height: 3px;
    background-color: var(--color-accent-secondary);
    transform: rotate(45deg);
    transition: all 0.3s ease;
  }

  .close-menu.open div {
    transform: rotate(0deg);
  }
}
